body {
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 20px 40px;
}
.logo {
    width: 100px;
}
.left-box {
    flex: 1;
}
.middle-box {
    flex: 2;
}
.right-box {
    flex: 1;
    display: flex;
    justify-content: end;
    
}
.search-box{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
    padding-left: 20px;
}
.create-btn {
   height: 40px;
   width: 100px;
   border-radius: 20px;
   border: none;  
}
.create-btn:hover {
    background-color: gray;
    cursor: pointer;
}





   

