body {
 margin: 0;
 padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 20px 40px;
   
}
.logo {
    width: 100px;
}
.left-box {
    flex: 1;


}
.middle-box{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    

}
.right-box {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 23px;

}
.right-box img{
    width: 40px;
    height: 40px;
    background-color: rgb(235, 231, 231);
    border-radius: 50%;
}
.right-box div {
    padding: 10px;
    position: relative;
    border-radius: 50%;
    background-color: rgb(228, 221, 221)
}
.right-box div i {
    font-size: 20px;
}
.right-box div span {
    padding: 0px 5px;
    font-size: smaller;
    color: white;
    position: absolute;
    top: 0px;
    right: -6px;
    border-radius: 40px;
    background-color: red
    
}
.input-box {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 40px;
    border: 1px solid black;
    overflow: hidden;
    background-color: rgb(199, 196, 196)
    

}

.input-box input {
    width: 90%;
    height: 40px;
    border: none;
}
.input-box div {
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input-box div:hover {
    cursor: pointer;
    background-color: rgb(240, 239, 239);
}

.create-btn {
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: none;
}
.create-btn:hover {
    cursor: pointer;
    color: gray;
}
.right-box button i{
    margin-right: 10px;
    font-size: 14px;
}

.middle-box span {
    background-color: rgb(230, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%; 
}