body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content:  space-between;
    align-items: center; 
    height: 40px;
    padding: 20px 40px;
    
}
.logo{
    width: 100px;
}
.left-box {
    flex: 1;
   

}
.middle-box{
    flex: 2;
    

}
.right-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
   

}
.search-box {
    height: 40px;
    width: 100%;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 15px;
    border: 1px solid gray;
    outline: none;  
}
.search-box:focus {
    border: 1px solid black;
}
.Create-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
}
.Create-btn:hover {
    background-color: rgb(218, 215, 215);
    cursor: pointer;
}